<a href="https://colab.research.google.com/github/sivaramanrajagopal/myNLP60dayprogress/blob/main/Day24_03032022_NLP_Text_Sentiment_analysis_movie_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
upload=files.upload()

Saving closebro_clean.csv to closebro_clean.csv

In [3]:
df= pd.read_csv("closebro_clean.csv",sep ='\t')

In [4]:
df.head()

                                  Reviews
0  I ringed them for 40 min i was I wait…
1      Cant remember the last time i was…
2                        Awful experience
3                                 Avoid."
4                      Very disappointing

In [5]:
len(df)

4624

In [ ]:
from io import StringIO
col = ['label', 'review']
df = df[col]
df = df[pd.notnull(df['review'])]
df.columns = ['label', 'review']
df['category_id'] = df['label'].factorize()[0]
category_id_df = df[['label', 'category_id']].drop_duplicates().sort_values('category_id')
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['category_id', 'label']].values)
df.head()

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(8,6))
df.groupby('label').review.count().plot.bar(ylim=0)
plt.show()

In [7]:
df

                                       Reviews
0       I ringed them for 40 min i was I wait…
1           Cant remember the last time i was…
2                             Awful experience
3                                      Avoid."
4                           Very disappointing
...                                        ...
4619               Couldn’t even setup account
4620                     AVOID LIKE THE PLAGUE
4621  never recomend finance from this compny…
4622      Changed my payment date to two days…
4623                   Waste of Space scammers

[4624 rows x 1 columns]

In [8]:
df.dropna(inplace=True)

In [9]:
blanks = []
for i,rv in df.itertuples():
  if type(rv)== 'str':
    if rv.isspace():
       blanks.append(i)

In [10]:
blanks

[]

In [12]:
df['Reviews'].value_counts()

I ringed them for 40 min i was I wait…                                                                                                                                                                                                                            185
AVOID!!! CLOSE BROTHERS ARE THE WORST FINANCE COMPANY OUT THERE!! CROOKS!!                                                                                                                                                                                        185
Waste of Space scammers                                                                                                                                                                                                                                           185
Changed my payment date to two days…                                                                                                                                                                                                                              185
never recomend finance from this compny…                                                                                                                                                                                                                          185
AVOID LIKE THE PLAGUE                                                                                                                                                                                                                                             185
Couldn’t even setup account                                                                                                                                                                                                                                       185
WARNING                                                                                                                                                                                                                                                           185
I wish I had read the reviews before dealing with them. Absolute ruthless company that has no morals nor do they care about individuals."                                                                                                                         185
WARNING!!                                                                                                                                                                                                                                                         185
Pay very attention."                                                                                                                                                                                                                                              185
*ATENTION*                                                                                                                                                                                                                                                        185
Close Brothers Finance - impossible to get in touch with                                                                                                                                                                                                          185
Cant remember the last time i was…                                                                                                                                                                                                                                185
Great                                                                                                                                                                                                                                                             185
Disgusting company"                                                                                                                                                                                                                                               185
Never ever trust this company they are…                                                                                                                                                                                                                           185
Beware of using this company. My brother was a victim of fraud and acted as a witness so a prosecution could be brought against the car dealer who committed the fraud. Close Brothers thanks to my brother is to hold the debt on his credit report and to be    185
Steer clear                                                                                                                                                                                                                                                       185
The website is terrible and very poor!"                                                                                                                                                                                                                           185
Stupid website                                                                                                                                                                                                                                                    185
Very disappointing                                                                                                                                                                                                                                                185
Avoid."                                                                                                                                                                                                                                                           185
Awful experience                                                                                                                                                                                                                                                  185
Thanks RECOVERYSTATION                                                                                                                                                                                                                                            184
Name: Reviews, dtype: int64

In [13]:
  import nltk
  nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [14]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [15]:
sid= SentimentIntensityAnalyzer()

In [17]:
df['scores'] = df['Reviews'].apply(lambda Reviews:sid.polarity_scores(Reviews))

In [18]:
df

                                       Reviews                                             scores
0       I ringed them for 40 min i was I wait…  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
1           Cant remember the last time i was…  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
2                             Awful experience  {'neg': 0.75, 'neu': 0.25, 'pos': 0.0, 'compou...
3                                      Avoid."  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
4                           Very disappointing  {'neg': 0.777, 'neu': 0.223, 'pos': 0.0, 'comp...
...                                        ...                                                ...
4619               Couldn’t even setup account  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
4620                     AVOID LIKE THE PLAGUE  {'neg': 0.328, 'neu': 0.299, 'pos': 0.373, 'co...
4621  never recomend finance from this compny…  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
4622      Changed my payment date to two days…  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
4623                   Waste of Space scammers  {'neg': 0.483, 'neu': 0.517, 'pos': 0.0, 'comp...

[4624 rows x 2 columns]

In [19]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [20]:
df

                                       Reviews  ... compound
0       I ringed them for 40 min i was I wait…  ...   0.0000
1           Cant remember the last time i was…  ...   0.0000
2                             Awful experience  ...  -0.4588
3                                      Avoid."  ...   0.0000
4                           Very disappointing  ...  -0.5413
...                                        ...  ...      ...
4619               Couldn’t even setup account  ...   0.0000
4620                     AVOID LIKE THE PLAGUE  ...   0.0772
4621  never recomend finance from this compny…  ...   0.0000
4622      Changed my payment date to two days…  ...   0.0000
4623                   Waste of Space scammers  ...  -0.4215

[4624 rows x 3 columns]

In [21]:
df['comp_score'] = df['compound'].apply(lambda score:'pos'if score >= 0 else 'neg' )

In [22]:
df

                                       Reviews  ... comp_score
0       I ringed them for 40 min i was I wait…  ...        pos
1           Cant remember the last time i was…  ...        pos
2                             Awful experience  ...        neg
3                                      Avoid."  ...        pos
4                           Very disappointing  ...        neg
...                                        ...  ...        ...
4619               Couldn’t even setup account  ...        pos
4620                     AVOID LIKE THE PLAGUE  ...        pos
4621  never recomend finance from this compny…  ...        pos
4622      Changed my payment date to two days…  ...        pos
4623                   Waste of Space scammers  ...        neg

[4624 rows x 4 columns]

In [23]:
from sklearn.metrics import accuracy_score,classification_report, confusion_matrix

In [25]:
accuracy_score(df['Reviews'],df['comp_score'])

0.0

In [ ]:
print(classification_report(df['Reviews'],df['comp_score']))

In [ ]:
print(confusion_matrix(df['Reviews'],df['comp_score']))

My own review assesments

In [72]:
review = "this is an excellent movie and my all time favorite"

In [73]:
print(review)

this is an excellent movie and my all time favorite

In [74]:
sid.polarity_scores(review)

{'compound': 0.7717, 'neg': 0.0, 'neu': 0.544, 'pos': 0.456}

In [75]:
scores = []

In [76]:
scores =sid.polarity_scores(review)

In [77]:
print(scores)

{'neg': 0.0, 'neu': 0.544, 'pos': 0.456, 'compound': 0.7717}

In [79]:
def myreview(my_movie):
  score = sid.polarity_scores(my_movie)
  if score ['compound'] >= 0.5:
    return ('must watch')
  elif score['compound'] < 0:
       return 'Do not watch'
  else:
     return ('watch once')

In [82]:
myreview("ok movie")

'watch once'